:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        background-color: aliceblue;
        padding: 24px;
        border-radius: 33px;
        .form-group {
            p {
                color: red;
            }
        }
    }
}